<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="clothes.ecommerce.domain.user.UserMapper">
    <select id="findByUserNumber" resultType="User" parameterType="Long">
        select * from users where userNumber = #{userNumber}
    </select>

    <select id="findByUserName" resultType="User" parameterType="String">
        select * from users where userName = #{userName}
    </select>

    <select id="findAll" resultType="User">
        select * from users
    </select>

    <insert id="createUser" useGeneratedKeys="true" keyProperty="userNumber">
        insert into users(userId, userPassword, userName, userAddress, bankAccount, bankAccountAmount)
        values(#{userId}, #{userPassword}, #{userName}, #{userAddress}, #{bankAccount}, #{bankAccountAmount})
    </insert>

    <update id="updateUser">
        update users set
                         userPassword = #{userPassword},
                         userName = #{userName},
                         userAddress = #{userAddress},
                         bankAccount = #{bankAccount},
                         bankAccountAmount = #{bankAccountAmount} where userNumber = #{userNumber}
    </update>
</mapper>